Django==3.0.5
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
django-rest-auth==0.9.3
requests==2.24.0
certifi==2020.6.20
idna==2.10
urllib3==1.25.9
chardet==3.0.4
psycopg2==2.7.3.2
pyhunter==0.3
PyJWT==1.5.3
pytz==2018.3
clearbit==0.1.7
six==1.11.0
username-generator==2.0.0
gunicorn
